@model IEnumerable<FindingJobWeb.Models.NewJob>

<section class="popular-post-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="active-popular-post-carusel">
                @foreach (var nj in Model)
                { 
                    <div class="single-popular-post d-flex flex-row">
                        <div class="thumb">
                            <img class="img-fluid" src="~/Resource/img/company/@nj.Image" alt="" style="width: 1200px; height:100px">
                            <a class="btns text-uppercase" href="@Url.Action("JobDetails", "Job", new { id = nj.JobID })">Xem bài tuyển dụng</a>
                        </div>
                        <div class="details" style="max-height:200px">
                            <a href="@Url.Action("JobDetails", "Job", new { id = nj.JobID })"><h4>@nj.Name</h4></a>
                            <h6>@nj.Country</h6>
                            <p>
                                @nj.Description
                            </p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
